.display-4 {
    white-space: pre-wrap;
    text-align: center;
}

._info {
    margin-bottom: 5px;
}

@media (min-width: 992px) {
    .offset-lg-3 {
        margin: 10px auto;
        margin-bottom: 45px;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        margin: 15px 0;
    }
}