/*
#323232 バーの色
#ffdee6 ピンク色

red>>
#d61d4e 枠色
#ff0b55 見出し
*/

body {
    font-family: "M PLUS Rounded 1c"
}

.navi-bar {
    background-color: #323232;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn-outline-success {
    color: #fff;
    border-color: #fff;
}

.container {
    margin: 20px auto;
    /*
    margin-right: auto;
    margin-left: auto;
    
    border-top: #d61d4e solid 5px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 5px 5px 0 rgba(200, 200, 200, 1);
    
    white-space: pre-wrap;
    */
}

h1 {
    text-align: center;
    margin: 10px 0;
    color: #ff0b55;
}

.top-image {
    text-align: center;
    margin: 20px 0;
}

.top-image>img {
    max-width: 80%;
}

.info {
    font-size: 18px;
    display: block;
    text-align: center;
    border-top: #d61d4e solid 5px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 5px 5px 0 rgba(200, 200, 200, 1);
}

._info {
    white-space: pre-line;
}

a._link {
    color: #ff0b55;
}

.btn-primary {
    color: #fff;
    background-color: #323232;
    border-color: #323232;
}

.btn-primary:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.card-body {
    word-break: break-all;
}

.card {
    margin-bottom: 20px;
    s
}

.nav-item._twitter {
    position: relative;
    top: 10px;
}

.discord {
    display: inline-block;
}

.Twitter {
    overflow-y: scroll;
    width: 300px;
    height: 500px;
    display: inline-block;
}

.navbar-toggler {
    background-color: transparent;
    border: 1px solid #000;
}

.navbar-toggler-icon {
    content: url("../images/bars-solid.svg");
}

.modal-footer {
    justify-content: center;
}